ul a{
    color: white;
}
.banner{    
    background: #393335; 
    min-height: 730px;
}
.banner-info{
    margin-top: 10em;
}

#about{
    background: #F4F4F4;
    padding: 5em 0;
}
h3.tittle{
    font-size: 2.5em;
    font-weight: 900;
    color: #34353a;
    font-family: 'Candal', sans-serif;text-align:center;
    margin-bottom:1em;
}
.ab-grid {
    padding:0;
}
.pic img {
    width:100%;
}
.text {
    background-color: #212526;
    min-height: 550px;
    padding: 2em;
}
.ab-grid.text h4 {
    font-size: 1.5em;
    line-height: 1.6em;
    color: #fff;
}
.ab-grid.text p{
    font-size:0.9em;
    line-height: 1.8em;
    color: #fff;
    width: 80%;
    margin: 1em 0;
}
.experience {
    padding-top: 5em;
    min-height: 856px;
    background-color: #fff;
}
.experience-main{
    position:relative;
    text-align:center;
}
h3.tittle.four {
    font-size: 1.5em;
    line-height: 1.5em;
}
span.devide-line {
    width: 1px;
    height: 360px;
    position: absolute;
    top: 5.4em;
    display: initial;
    background: #539fd6;
    left: 50%;
}
.experience-left h4, .experience-left-trd h4,.experience-right-snd h4 {
    font-size: 1.4em;
    color: #539fd6;
    margin: 0px;
    text-transform: uppercase;
    font-weight: 900;
}
.experience-left h5, .experience-left-trd h5,.experience-right-snd h5 {
    font-size: 0.9em;
    color: #34353a;
    margin: 14px 0;
    font-weight: 700;
}
.experience-left p, .experience-left-trd p,.experience-right-snd p {
    font-size: 0.9em;
    color: #555;
    margin-top: 8px;
    line-height: 1.8em;
    font-weight: 700;
}
.experience-left, .experience-left-snd, .experience-left-trd {
    width: 40%;
    position: absolute;
    left: 3.55%;
    text-align: right;
}
.experience-left {
    top: 1em;
}
.experience-left-snd{
    top:12.35em;
}
.experience-left-trd {
    top: 22.35em;
}
.experience-left i, .experience-left-snd i, .experience-left-trd i{
    color: #539fd6;
    font-size: 1.7em;
    position: relative;
    right: -3.825em;
    padding: 14px;
    border: 2px dotted #539fd6;
    border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    background-color: #fff;
    margin: 0 !important;
}
.experience-left i {
    top: 1.7em;
}
.experience-left-snd i{
    top: 1.3em;
}
.experience-left-trd i {
    top: 1.83em;
}
.experience-right-snd {
    width: 40%;
    position: absolute;
    left: 56.2%;
    text-align: left;
}
.experience-right-snd {
    top: 15em;
}

div#left_form {
    float: left;
    width: 49%;
}
div#right_form {
    float: right;
    width: 49%;
}
label {
    margin: 0;
    font-size: 1em;
    color:#34353a;
    margin-bottom: 0.3em;
}
.contact_desc {
    padding: 4em 0 2em 0;
}
.contact-form input[type="text"], .contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    padding: 15px 18px;
    font-weight: 400;
    font-size: 15px;
    /*text-transform: uppercase;*/
    color: #333;
    margin: 0px 0 7px 0;
}
.contact-form input[type="email"], .contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    padding: 15px 18px;
    font-weight: 400;
    font-size: 15px;
/*text-transform: uppercase;*/
    color: #333;
    margin: 0px 0 7px 0;
}
.contact-form input[type="tel"], .contact-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    background: #fff;
    padding: 15px 18px;
    font-weight: 400;
    font-size: 15px;
    /*text-transform: uppercase;*/
    color: #333;
    margin: 0px 0 7px 0;
}
.contact-form textarea {
    height: 245px;
    resize: none;
    margin: 0em 0 0.5em 0;
}
.contact-form input[type="submit"] {
    outline: none;
    padding: 0.7em 0.7em;
    color: #fff;
    background: #539fd6;
    text-transform: uppercase;
    font-weight:500;
    font-size: 0.95em;
    display: block;
    width: 21%;
    border: none;
    float: right;
}
.contact-form input[type="submit"]:hover {
    text-decoration: none;
    background:#34353a;
}
.contact-form {
    padding: 3em 0 1em 0;
}
.contact {
    background-color: #F7F7F7;
}

h3.tittle.two {
    margin: 0.5em 0;
    text-align: left;
}

.point i {
    color:#539fd6;
    font-size: 4em;
}

.copy {
    text-align: center;
    background:#539fd6;
    padding-top: 1em;
    padding-bottom: 0.3em;
}
.copy p {
    color: #fff;
    font-size:0.9em;
}
.my-skills{
    background:#34353a;
    padding: 5em 0;
}
.my-skills h3{
    margin: 0;
    color: #ffffff;
    font-size: 3em;
    font-weight: 400;
}
.skill-grids{
    margin-top: 4em;
    margin-left: 10em;
}
.skills-grid p{
    margin:5px 0 30px 0;
    padding-left: 10px;
    color:#ffffff;
    font-size: 1.0em;
    font-weight:600;
    text-transform:uppercase;
/*width: 60px;*/

}
.circle{
    color:#ffffff;
    font-size:36px;
}
/*span.circles-number {
font-size: 30px;
}*/
span.circles-text {
    font-size: 18px;
}
.circles-text-wrp {
    line-height: 142px !important;
}